<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta charset="utf-8">
        <title>klavierpedia</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <!--==============レイアウトを制御する独自のCSSを読み込み===============-->
        <link rel="stylesheet" type="text/css" href="http://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/move02/5-1/css/reset.css">
        <link rel="stylesheet" type="text/css" href="http://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/move02/5-1/css/5-1.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    
    <body>
        <header class="site-header">
            <div class="wrapper site-header__wrapper">
                <a href="#" class="brand"><image src="image/wikilog.jpg"></image></a>
                <nav class="nav">
                <button class="nav__toggle" aria-expanded="false" type="button">
                    menu
                </button>
                <ul class="nav__wrapper">
                    <li class="nav__item"><a href="#">Home</a></li>
                    <li class="nav__item"><a href="#">About</a></li>
                    <li class="nav__item"><a href="#">Services</a></li>
                    <li class="nav__item"><a href="#">Contact</a></li>
                </ul>
                </nav>
            </div>
        </header>

        <div class="top-wrapper">
            <div class="container">
                <div class="heading">
                    <h1>KLAVIERPEDIAへようこそ</h1>
                    <p>
                        ピアノの会klavierは、明治大学公認サークルです。
                        定期的にピアノの演奏会を行っています。
                    </p>
                </div>
                
            </div>
        </div>

        <div class="news">
            <div class="container">
                <div class="container-header">
                    <h1>お知らせ</h1>
                    </div>
                    <div class="index-table-wrapper">
                    <div class="table-head">
                        <span class="id-column">Date</span>
                        <span>本文</span>
                    </div>
                    <ul class="twitter-body">
                        <% for (var i = 0; i < 4; i++) { %>
                        
                        <li>
                            <div class="twitter-data">
                                <span class="id-column"><%= tweet[i].created_at %></span>
                                <span class="name-column"><%= tweet[i].text %></span>
                                <br>
                                <br>
                            </div>
                        </li>
                        <% }; %>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>