body {
    margin: 0;
    font-family: "Hiragino Kaku Gothic ProN";
}

a {
    text-decoration: none;
}

.container {
    width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.top-wrapper {
    padding: 180px 0 100px 0;
    animation: bgchange 20s ease
    infinite;
}

@keyframes bgchange {
      0%   {background:#ffe6e1;}
      25%  {background:#fdcb9e;}
      50%  {background:#fdcbc1;}
      75%  {background:#ffff8c;}
      90%  {background:#b2dffb;}
      100% {background:#ffe6e1;}
}