<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
<!--==============レイアウトを制御する独自のCSSを読み込み===============-->
        <link rel="stylesheet" type="text/css" href="http://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/move02/5-1/css/reset.css">
        <link rel="stylesheet" type="text/css" href="http://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/move02/5-1/css/5-1.css">
        <title>"klavierpedia"</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="css/style.css">
    </head>
    
    <body>
        <header>
            <div class="container">
                <div class="header-left">

                </div>
                <div class="header-right">

                </div>
            </div>
        </header>

        <div class="top-wrapper">
            <div class="container">
                <div class="heading">
                    <h1>KLAVIERPEDIAへようこそ</h1>
                    <p>ピアノの会klavierは、明治大学公認サークルです。</p>
                    <p>主にピアノの演奏会の開催や、イベント等を行っています。</p>
                </div>
                <div class="btn-wrapper">
                    <a href="#" class="btn new-comer">入会したい方はこちら</a>
                    <a href="#" class="btn music">演奏会の録音はこちら</a>
                    <a href="#" class="btn klavier-introduction">klavierの紹介</a>
                </div>
            </div>
        </div>

        <div class="news">
            <div class="container">
                <h2>お知らせ</h2>
            </div>
        </div>
    </body>
</html>